nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09460e;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 10px 10px gray;
}

nav li {
  display: inline;
  float: left;
  border-right: 1px solid whitesmoke;
}

nav a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, Arial, sans-serif;
}

nav li a:hover {
  background-color: grey;
}

.hoverWrapper h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  float: right;
  padding-right: 20px;
  text-decoration: underline;
}
div.centered h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  align-content: center;
  padding: 20px;
}
.hoverWrapper #hoverShow1 h1 {
  float: none;
  text-align: center;
  font-size: 36px;
  padding-top: 25px;
  text-decoration: none;
}
.hoverWrapper:hover #hoverShow1 {
  display: block;
}

.hoverWrapper #hoverShow1 {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  opacity: 90%;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #09460e;
}

.right {
  right: 0;
  background-color: whitesmoke;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered a {
  color: whitesmoke;
  text-decoration: none;
}

.centered a:hover {
  text-decoration: underline;
}

.right-centered {
  position: relative;
  top: 54%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered img {
  border-radius: 50%;
}

.centered h1 {
  font-size: 48px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.centered h2 {
  font-size: 36px;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}

.right-centered h2 {
  font-size: 30px;
  color: #09460e;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-centered ul {
  list-style-type: circle;
  font-family: Arial, Helvetica, sans-serif;
}

.right-centered li {
  width: 75%;
  padding: 10px;
}

p {
  margin: initial;
  margin-right: initial;
  position: relative;
  width: 75%;
  padding: 10px;
}

div.gallery {
  margin: 30px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  padding: 15px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
